$colors: (
  primary: (
    700: #0F101E,
    600: #2f325e,
    400: #5CE1E6,
    200: #FFFFFF,
    100: #ffffffaf,
  ),
  secondary: (
    500: radial-gradient(circle, #def9fa 0%, #33bbcf 50%),
  ),
);