.CTA{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: min(1.5rem, 3vh);
    line-height: 1.75;
    width: 80%;

    &__heading{
        font-size: var(--fs-xl);
        font-weight: bolder;
        color: var(--clr-primary-200);
    }

    &__description{
        color: var(--clr-primary-100);
        font-size: var(--fs-sm);
    }
}