.card-deal {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: min(70rem, 90%);
  margin: 15vh auto;
  gap: min(1.5rem, 10%);

  &__img-container > img {
    object-fit: contain;
    max-height: 20rem;
    width: 100%;
  }
}
