@use "../../globals/mixins" as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(70rem, 90%);
  margin: 1.5rem auto;
  font-size: var(--fs-sm);

  img {
    max-height: 1.75rem;
  }

  &__list > ul {
    gap: min(3rem, 5vw);
    display: flex;
  }

  a {
    color: var(--clr-primary-100);
  }

  &__list--mobile,
  .navigation-icon {
    display: none;
  }
}

//MOBILE DESIGN
@include breakpoint(small) {
  .navbar {
    &__list {
      display: none;
    }

    &__list--mobile {
      display: flex;

      ul {
        position: fixed;
        flex-direction: column;
        background-color: var(--clr-primary-500);
        border-bottom-left-radius: 1rem;
        inset: 0 0 60% 60%;
        padding: min(20vh, 5rem) 1rem;
      }

      li {
        padding: max(1rem, 2.5vh) 1rem;
      }
    }

    .navigation-icon {
      cursor: pointer;
      width: 1.75rem;
      display: block;
      z-index: 9999;
      position: fixed;
      right: 20px;
    }
  }
}
